#header {
    background-image: url("/codesilver/assets/header.jpg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
}
body {
  background: url('/codesilver/assets/background.jpg') no-repeat;
  min-height: 800px;
  background-size: 100% 100%;
  background-color: #000;
  margin: 0;
  color: #fff;
}
#footer {
    background-image: url("/codesilver/assets/footer.jpg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    bottom: 0;
}
